.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.icon{
  position:absolute;
  top: 13px;
  right: 60px;
  height: 30px;
  aspect-ratio: 16 / 12;
}

#searchbar{
  width: 250px; 
  position:absolute;
  top: 10px;
  right: 110px;
}

.icon img{
  height: 100%;
  width: 100%;
}

::placeholder{
  font-style: italic;
}


.center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.footer{
  padding-top: 20px;
  padding-bottom: 30px;
  display: inline-flex;
  text-align: left;
}

ul{
  list-style: none;
  padding-inline: 90px;
}

.bold{
  font-weight: 500;
  font-size: 20px;
  margin-left: -10px;
  padding-bottom: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner{
  width: 70%;
  aspect-ratio: 16 / 9;
}

.banner img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.floatingbanner{
  color: red;
  font-size: 15px;
  font-weight: 500;
  margin-right: auto;
  margin-left: auto; 
  width: 50%;
  text-decoration: none;
}

.main{
  padding-left: 10%;
  height: 30px;
  aspect-ratio: 16 / ;
}

.main img{
  height: 100%;
  width: 100%;
}

@keyframes rainbow{
  0% {
    background-position: 0% 50%;
}

50% {
    background-position: 100% 25%;
}
100% {
    background-position: 0% 50%;
}
}

.new{
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-style: italic;
  border:1px solid black;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 10px;
  animation: rainbow 8s ease infinite;
  position: relative;
  left: -80px;
}